DATABASE_URL=sqlite:////data/elementa.db
SECRET_KEY=changeme_secret_key_please_update
ACCESS_TOKEN_EXPIRE_MINUTES=60
FIRST_ADMIN_USERNAME=admin
FIRST_ADMIN_PASSWORD=changeme123
FIRST_ADMIN_EMAIL=admin@elementa.local
